.details {
    width: 60em;
    margin: 2em auto;
    margin-bottom: -2em;;
    padding: 3em;
    text-align: center; 
}

.image {
    margin-top: 4px;
    width: 200px;
    height: auto;
    padding-left: 40em;
    
}

.info {
    text-align: center;
    margin: 1em;
    font-size: larger;
}

.username {
    font-size: 2em;
    margin-top: -1em;

}