#root > div > div > div > h1 {
  margin: 5em;
 
}
.container1 {
  margin: 0;
    width: 100%;
    height: 700px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../../images/home-air.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -100;
}

.container2 {
  margin: 0;
    width: 100%;
    height: 700px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../../images/air.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -100;

}

.h1 {
  text-align: center;
  padding-bottom: 2em;
}

.a {

  text-align: center;
  padding-top: 8em
}